### Задача 1
Используя данные о хоккеистах (скачать можно здесь), проверьте, является ли среди хоккеистов из Финляндии, Норвегии и Дании значимым отличие: а) роста, б) BMI.

In [13]:
import numpy as np
import pandas as pd
from scipy import stats

In [14]:
df = pd.read_csv('C:/Users/razov/Documents/Библиотеки Python/hockey_players.csv')
df.head()

,year,country,no,name,position,side,height,weight,birth,club,age,cohort,bmi
0,2001,RUS,10,tverdovsky oleg,D,L,185,84.0,1976-05-18,anaheim mighty ducks,24.952772,1976,24.543462
1,2001,RUS,2,vichnevsky vitali,D,L,188,86.0,1980-03-18,anaheim mighty ducks,21.119781,1980,24.332277
2,2001,RUS,26,petrochinin evgeni,D,L,182,95.0,1976-02-07,severstal cherepovetal,25.229295,1976,28.680111
3,2001,RUS,28,zhdan alexander,D,R,178,85.0,1971-08-28,ak bars kazan,29.675565,1971,26.827421
4,2001,RUS,32,orekhovsky oleg,D,R,175,88.0,1977-11-03,dynamo moscow,23.490760,1977,28.734694

In [15]:
df.drop_duplicates(['name'], inplace=True)

In [16]:
df['country'].unique()

array(['RUS', 'AUT', 'BLR', 'CAN', 'CZE', 'FIN', 'GER', 'ITA', 'JPN',
       'LAT', 'NOR', 'SUI', 'SVK', 'SWE', 'UKR', 'USA', 'POL', 'SLO',
       'DEN', 'FRA', 'KAZ', 'HUN'], dtype=object)

In [17]:
country = ['FIN', 'NOR', 'DEN']

In [18]:
y1_height = df.loc[(df['country'] == 'FIN'), 'height']
y2_height = df.loc[(df['country'] == 'NOR'), 'height']
y3_height = df.loc[(df['country'] == 'DEN'), 'height']

y1_bmi = df.loc[(df['country'] == 'FIN'), 'bmi']
y2_bmi = df.loc[(df['country'] == 'NOR'), 'bmi']
y3_bmi = df.loc[(df['country'] == 'DEN'), 'bmi']

In [19]:
stats.f_oneway(y1_height, y2_height, y3_height)

F_onewayResult(statistic=3.5504111023205005, pvalue=0.029563539043363198)

In [20]:
stats.f_oneway(y1_bmi, y3_bmi, y3_bmi)

F_onewayResult(statistic=10.713323161275044, pvalue=2.8323799617667862e-05)

Рост: P < F, значит отвергаем нулевую гипотезу, следовательно отличие роста между выборками спортсменов из Финляндии, Норвегии и Дании признается значимой

BMI:P < F, значит отвергаем нулевую гипотезу, следовательно отличие BMI между выборками спортсменов из Финляндии, Норвегии и Дании признается также значимой